body{
    margin: 0;

}
.header{
    display: flex;
    background-color: #1f2937;
    margin: 0;
    border: 0;
    padding: 0 120px 60px 120px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: beige;
    
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
    font-size: 1.15rem;
    margin-left: auto;
    padding: 0;
    gap: 8px;
    color: beige;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    background-color: #1f2937;
    margin: 0;
    border: 0;
    padding: 0 120px 40px 120px;
}

.awesome{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(90, 107, 90);
}

h1{
    margin-bottom: 2rem;
}

.description{
    font-size: 1.1rem;
    color:rgb(127, 145, 127)   
}


.right-center{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.image1{
    display: flex;
    width: auto;
    height: 300px;
    border-radius: 15px 50px; 
    
}

.center2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(127, 145, 127);
    margin: 0;
    border: 0;
    padding:60px 120px 60px 120px;
    justify-content: center;
    align-items: center;
}

.header2{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
    align-items: center;
    color: #0d131b;
    font-size: 2rem;
    font-weight: 900;
    

}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    margin-bottom: 1rem;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 260px;
}

.img2{
    width: 200px;
    height: auto;
    border-radius: 30px ;
    margin-bottom: 1rem;
}

.img3{
    width: 200px;
    height: auto;
    border-radius: 30px ;
    margin-bottom: 1rem;
}

.img4{
    width: 200px;
    height: auto;
    border-radius: 30px ;
    margin-bottom: 1rem;
}

.img5{
    width: 200px;
    height: auto;
    border-radius: 30px ;
    margin-bottom: 1rem;
}

.text{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    font-size: 1.2rem;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #213024;
    margin: 0;
    border: 0;
    padding: 60px 120px 60px 120px;
    

}

.quote-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    color: rgb(177, 184, 177);
    min-width: 100%;
    padding-top: 1.2em;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(146, 151, 146);
    padding-bottom: 1.2em;
}


.banner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}